<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank Details</title>
</head>

<body>
	<div th:replace="~{layout_user :: layout(~{::content}, 'bank')}">
		<div th:fragment="content">

			<h3 class="mb-3">Bank Details</h3>

			<form th:action="@{/user/bank}" method="post">
				<input type="hidden" name="primaryBank" value="false">

				<div class="form-group mb-2">
					<label>Bank Name</label> <input class="form-control"
						name="bankName" required>
				</div>

				<div class="form-group mb-2">
					<label>Account Holder</label> <input class="form-control"
						name="accountHolder" required>
				</div>

				<div class="form-group mb-2">
					<label>Account Number</label> <input class="form-control"
						name="accountNumber" required>
				</div>

				<div class="form-group mb-2">
					<label>IFSC</label> <input class="form-control" name="ifsc">
				</div>

				<div class="form-group mb-2">
					<label>UPI ID</label> <input class="form-control" name="upi">
				</div>

				<div class="form-check mb-3">
					<input class="form-check-input" type="checkbox" name="primaryBank"
						value="true"> <label class="form-check-label">Set
						as Primary</label>
				</div>

				<button class="btn btn-success btn-sm">Add Bank</button>
				<a class="btn btn-outline-primary btn-sm"
					th:href="@{/user/bank/mandate/download}"> <i
					class="fas fa-file-download"></i> Download Mandate Form
				</a>
			</form>

			<hr>

			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th>Bank</th>
						<th>Account</th>
						<th>Primary</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${bankList}">
						<td th:text="${b.bankName}"></td>
						<td th:text="${b.accountNumber}"></td>
						<td><span class="badge badge-success"
							th:if="${b.primaryBank}">Primary</span>
						<form th:action="@{/user/bank/setPrimary/{id}(id=${b.id})}"
								method="post">
								<button class="btn btn-warning btn-sm" th:if="${!b.primaryBank}">
									Make Primary</button>
							</form></td>
						<td>
							<form th:action="@{|/user/bank/delete/${b.id}|}" method="post">
								<button class="btn btn-danger btn-sm">Remove</button>
							</form>
						</td>

					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>
